<section class="container-fluid bg-dark mt-5">
  <div class="container pt-5 text-center bg-dark">
    <p>Tasks</p>

  </div>
  <div class="container pt-5">
      <div class="row">
          <div class="col-3">
              <h1><b>Get To Know Us</b></h1>
              <a href="#">Careers</a><br />
              <a href="#">Blogs</a><br />
              <a href="#">About 7aGa</a><br />
              <a href="#">Investor Relation</a><br />
              <h5>JOIN US ON</h5>
              <span class="flex-wrap d-flex">
                  <a href="https://www.facebook.com/" target="_blank"><img src="assets/images/facebook-logo-2428.svg" class="social"/></a>
                  <a href="https://www.instgram.com/" target="_blank"><img src="assets/images/instagram-logo-2433.svg" class="social"/></a>
                  <a href="https://www.twitter.com/" target="_blank"><img src="assets/images/twitter-logo-2429.svg" class="social"/></a>
                  <a href="https://www.youtube.com/" target="_blank"><img src="assets/images/youtube-logo-2431.svg" class="social"/></a>
                  <a href="https://www.linkedin.com/" target="_blank"><img src="assets/images/linkedin-logo-2430.svg" class="social"/></a>
              </span>
          </div>
          <div class="col-3">
              <h1><b>Make Mony With Us</b></h1>
              <a href="#">Become an Affilliate</a><br />
              <a href="#">Advertice Your products</a><br />
              <a href="#">Self-Publish With Us</a><br />
              <a href="#">Host an Airline Hub</a><br />
              <i class="fal fa-chevron-right" style="color:white"></i>
              <a href="#">See More Make Mony With Us</a><br />
          </div>
          <div class="col-3">
              <h1><b>AIrline Payment Products</b></h1>
              <a href="#">Airline Business Card</a><br />
              <a href="#">Reload Your Balance</a><br />
              <a href="#">Airline Currency Converter</a><br />
              <h5>PAYMENT METHODS</h5>
              <span>
                <div class="d-flex flex-column">

                    <div class="flex-wrap d-flex">
                    <img class="card" src="https://shoplineimg.com/assets/footer/card_visa.png"/>
                    <img class="card" src="https://shoplineimg.com/assets/footer/card_master.png"/>
                    <img class="card" src="https://shoplineimg.com/assets/footer/card_paypal.png"/>
                    
                </div>
                 
                </div>
              </span>
              <span>
                    <img src="assets/images/3.png" class="img rounded-circle" />
                    <a href="#">English</a> |
                    <img src="assets/images/2.png" class="img rounded-circle"  />
                    <a href="#">عربي</a>
              </span>
          </div>
          <div class="col-3">
              <h1><b>Let Us Help You</b></h1>
              <a href="#">Your Account</a><br />
              <a href="#">Shipping Rates & Policies</a><br />
              <a href="#">Returns & Replacement</a><br />
              <a href="#">Manage Your Content & Devices</a><br />
              <a href="#">Airline Assistant</a><br />
              <a href="#">Help</a><br />             
          </div>
      </div>           
  </div>
 
</section>
