@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");

h1 {
  color: white;
  font-family: "Pattaya", sans-serif;
  color: blue;
  font-size: 1.25em;
}
p{
  color: white;
  font-family: "Pattaya", sans-serif;
  color: blue;
  font-size: 2.5em;
}
.card {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: 0;
  margin: 0.2em;
}
.social{
  height: 15px;
  width: 15px;
  background-color: transparent;
  border: 0;
  margin: 0.2em;
}
.img{
  width: 16px;
  height: 16px;
}
a,h5{
  text-decoration: none;
  color: white;
}

