 h2{
     color: blue;
     font-family: "Pattaya", sans-serif;
     cursor: pointer;
 }
 h1{
     color: white;
     color: blue;
  font-family: "Pattaya", sans-serif;
  font-size: 2.25em;
  cursor: pointer;
 }
 .navbar{
    background-color: rgb(189, 185, 185);
 }